@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
nav {
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style: none;
 padding: 0.5rem 1rem;
}
nav a {
 font-family: 'Barlow', sans-serif;   
 text-decoration: none;
 color: black;
 font-weight: 500;
 padding: 0.5rem 1rem;
}
nav a:hover {
 background-color: #f0f0f0;
 border-radius: 4px;
}
.logo {
    font-size: 32px;
    font-weight: normal;
    color: rgba(93, 95, 239, 1);
    font-style: italic;
    font-family: "Brush Script MT", "lucida handwriting", "cursive";
    cursor: pointer;
}
.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}
body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
}
.home {
    background-color: rgba(93, 95, 239, 0.1);
    display:flex;
    align-items: center;
}
.text1 {
    flex: 1;
    padding: 80px;
}
.text1 h3{
    color: rgba(93, 95, 239, 1); 
}
.text1 h1   {
    color: black;
}
.text1 p {
    color: black;
    font-family: 'courier new', monospace;
}
.text1 button {
    background-color: rgba(93, 95, 239, 0.1);
    color: rgba(93, 95, 239, 1);
    border: rgba(93, 95, 239,1) solid 2px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
.image1 {
    flex: 1;
    padding: 80px;
}
.image1 img {
    width: 100%;
    height: auto;
}
.about {
    display: flex;
    align-items: center;
}
.image2 {
    flex: 1;
    padding: 80px;
}
.image2 img {
    width: 100%;
    height: auto;
}
.text2 {
    flex: 1;
    padding: 80px;
}
.text2 h3 {
    color: rgba(93, 95, 239, 1); 
}
.text2 h1 {
    color: black;
}
.text2 p {
    color: black;
    font-family: 'courier new', monospace;
}
.text2 button {
    background-color: rgba(93, 95, 239,1);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}
.skills {
    background-color: rgba(93, 95, 239, 0.1);
    align-items: center;
    text-align: center;
}
.skills h3 {
    color: rgba(93, 95, 239, 1);
}
.skills img {
    width: 100px;
    height: auto;
    margin: 20px;
}